@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/1920x1080-small-memory-4k_1540749683.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

h1{
    font-size: 60px;
    letter-spacing: 12px;
}

@media only screen and (max-width: 620px) {
    h1{
        font-size: 20px;
        letter-spacing: normal;
    }
}

hr{
    width: 50px;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
}

#launch{
    font-size: 40px;
    word-spacing: 20px;
}
